<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Reports <small>Work with Chart.js and D3</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron">
		<div class="container">
			<h1>Examples</h1>
		</div>

		<div class="row">
			<div class="col-md-3">
			  <div class="files-list-container"data-ng-show="files">
				  <ul class="articles unstyled">
				    <li data-ng-repeat="file in files">
				        <a data-ng-click="loadFile(file.fqn)">{{file.name}}</a>
				    </li>
				  </ul>
				  <nav>
				  <ul class="pagination">
				    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				    <li class="active" data-ng-repeat="page in [] | range:filesPages"><a data-ng-click="goToPage(page)" href="#">{{page}} <span class="sr-only">(current)</span></a></li>
				  </ul>
				</nav>
			  </div>
			  <h1 data-ng-hide="!files || files.length">No files !</h1>
			</div>
			<div class="col-md-9">
				<div ui-ace="{ mode: 'wollok', theme: 'eclipse' }" ng-model="currentFileContent" readonly="true">
			  	</div>
			</div>
		</div>
	</div>
</div>