<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">Wollok <small>ShowCase</small></h2>
           <img src="images/wollok-isotipo-neg.png" class="user-avatar" /><br />
           <div ng-show="">
            <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
        </div>
      </div>


      <ul class="nav nav-sidebar">
        <li ng-repeat="component in components" ng-class="{ active: component == selectedComponent }" >
          <a ng-click="showComponent(component)">{{component.title}} <span ng-show="component == selectedComponent" ng-class="sr-only">(current)</span></a>
        </li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>